body {
    background-color: #fff8e0;
}

#mainGameGrid {
    width: 60%;
    aspect-ratio: 4/3;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;

    grid-template-areas: "header header"
        "actionMenu outputBar"
        "footer footer";
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 6fr 1fr;

    gap: 2px;
    padding: 10px;
    border: 1px solid black;
    
    opacity: 0;
}
/*Menu elements----------------------------------------------------------------*/
.outputBoxParagraph {
    font-family: monospace;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 2px;

    margin: 0px;
    margin-top: 5px;
    padding: 2px;

    /*border: 2px solid red;*/
}

/*Header*/
#uiGrid__header {
    grid-area: header;
    border-bottom: 1px solid black;

    display: flex;
    flex-direction: row;
    gap: 5%;
}

.uiGrid__text {
    font-family: monospace;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 2px;

    margin-top: 5px;
}

#outputBox {
    grid-area: outputBar;

    display: flex;
    flex-direction: column;
    justify-content: top;
}

/*Footer*/
#uiGrid__footer {
    grid-area: footer;

    display: flex;
    flex-direction: row;
}

#uiGrid__footer>* {
    margin-top: 5px;
}

/*control button
.uiGrid__footer__controlsButton{
    margin: 0px;
    height: 20px;

    border-radius: 0px;
    border: 1px solid black;
    background-color: #fff8e0;

    font-family: monospace;
    font-size: 15px;
}
.uiGrid__footer__controlsButton:active{
    background-color: #d6cbab;
}
*/


/*Controls popup--------------------------------------------------------------*/
#controlsPanel {
    padding: 5px;
    position: absolute;
    bottom: 5%;
    right: 5%;

    width: auto;
    height: auto;

    border: 1px solid black;
    background-color: #fff8e0;

    display: none;
    flex-direction: column;
}

.controlsPanel__text {
    font-family: monospace;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 2px;

    margin: 0px;
    margin-top: 5px;
    padding: 2px;
}

#controlsPanel__title {
    font-family: monospace;
    font-size: 20px;
    line-height: 150%;
    font-weight: 700;

    margin: 10px;
    margin-bottom: 5px;

    text-align: center;
}

/*Styling for board-----------------------------------------------------------*/
#gameSpace {
    grid-area: actionMenu;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameSpace__boardLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gameSpace__boardCell {
    font-family: monospace;
    font-size: 15px;
    line-height: 90%;

    height: 15px;
    width: 15px;

    text-align: center;
    opacity: 0.8;

    margin: 1px;
    padding: 0px;
}

/*.gameSpace__specialLocations { Deprecated. Replaced by Fog of War methods.
    /*Last call takes precedence. Some overlap with gameSpace__boardCell
    font-weight: 900;
    font-stretch: ultra-expanded;
    font-size: 20px;
}*/

/*External dialogue popup style---------------------------------------------------*/
#externalOutputBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    width: 50%;
    height: 30%;
    display: none;

    border: 1px solid black;
    background-color: #fff8e0;

    flex-direction: column;
    justify-content: center;
}
#externalOutputBox>* {
    font-family: monospace;
    font-size: 15px;
    line-height: 90%;

    margin: 10px;

    text-align: center;
}
#externalOutputBox__encounter{
    position: absolute;
    left: 5%;
    top: 5%;
    font-weight: bold;
}
#externalOutputBox__output1 {
    opacity: 1;
}
#externalOutputBox__output2 {
    opacity: 0.7;
}
#externalOutputBox__output3 {
    opacity: 0.4;
}

/*Shop popup style----------------------------------------------------------------*/
#shopDisplay{
    display: none;

    grid-template-areas: "header" /*header contains title.*/
    "outputBar menu" /*outputBar contains descriptions of items. Menu is similar to inventory menu.*/
    "footer" /*footer contains health, Wishes, Masquerade?*/
}

/*Testing*/
#cursorOutput{
    display: none;
}