/*Windows! Maybe put these in a different file.*/
/*Map window. =================================*/
#gamePage__gameSpace__map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mapCell {
    font-family: monospace;
    font-size: 15px;
    line-height: 90%;

    height: 14px;
    width: 14px;

    text-align: center;
    opacity: 0.8;

    margin: 1px;
    padding: 0px;
}

/*Encounter window. ===========================*/
#gamePage__gameSpace__encounter {
    display: none;
    position: relative;
    grid-template-areas: "menuTitle header"
        "menu canvas";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 9fr;
}

#gamePage__gameSpace__encounter__header {
    grid-area: header;
}

#gamePage__gameSpace__encounter__menuTitle {
    grid-area: menuTitle;
    text-decoration: underline;
}

#gamePage__gameSpace__encounter__canvas {
    margin: auto;
    padding: 0px;
    grid-area: canvas;
    position: relative;

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-areas: "phealth phealth null ehealth ehealth"
        "player player null enemy enemy"
        "pstatus pstatus null estatus estatus"
        "pbuff pdebuff output ebuff edebuff"
        "hold1 hold1 output hold2 hold2";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;

    border: 1px solid black;
}

#gamePage__gameSpace__encounter__canvas__playerHealth {
    grid-area: phealth;
    height: 1em;
    max-height: 1em;
    min-height: 1em;
}
#gamePage__gameSpace__encounter__canvas__player {
    grid-area: player;
    margin-bottom: 0;
}
#gamePage__gameSpace__encounter__canvas__pbuff {
    grid-area: pbuff;
}
#gamePage__gameSpace__encounter__canvas__pdebuff {
    grid-area: pdebuff;
}
#gamePage__gameSpace__encounter__canvas__playerStatus {
    grid-area: pstatus;
}

#gamePage__gameSpace__encounter__canvas__outputBox{
    grid-area: output;
    display: flex;
    flex-direction: column;

    height: 100%;
    max-height: 100%;

    position: relative;
}
.canvasOutput{
    padding: 0;
    margin: 0;
    height: 33%;
    max-height: 33%;

    font-size: 15px;
}
#gamePage__gameSpace__encounter__canvas__outputBox__output2{
    opacity: 0.7;
}
#gamePage__gameSpace__encounter__canvas__outputBox__output3{
    opacity: 0.4;
}

#gamePage__gameSpace__encounter__canvas__enemyHealth {
    grid-area: ehealth;
    height: 1em;
    max-height: 1em;
    min-height: 1em;
}
#gamePage__gameSpace__encounter__canvas__enemy {
    grid-area: enemy;
    margin-bottom: 0;
}
#gamePage__gameSpace__encounter__canvas__ebuff {
    grid-area: ebuff;
}
#gamePage__gameSpace__encounter__canvas__edebuff {
    grid-area: edebuff;
}
#gamePage__gameSpace__encounter__canvas__enemyStatus {
    grid-area: estatus;
}

.buffStatusDisplay {
    border: 1px solid black;
    margin: 10%;
}
.debuffStatusDisplay {
    border: 1px dotted black;
    margin: 10%;
}

#gamePage__gameSpace__encounter__menu {
    margin: 0px;
    grid-area: menu;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.encounterButton {
    position: relative;
    background-color: #fff8e0;
    border: 1px solid black;

    font-family: monospace;
    font-size: 15px;
    font-weight: 400;

    width: 40%;
    aspect-ratio: 2/1;
    margin: auto;
    margin-top: 5%;
}
.encounterButton__progress {
    /*Button cooldown timer!*/
    position: absolute;
    height: 100%;
    width: 0%;
    /*use JS to change.*/
    top: 0;
    left: 0;
    background: #d6cbab;
    transition: width 1s;
}
.encounterButton__text {
    position: relative;
}

#gamePage__gameSpace__encounter__canvas__holder1{
    grid-area: hold1;
}
#gamePage__gameSpace__encounter__canvas__holder2{
    grid-area: hold2;
}

/*Inventory Window. ================================*/
#gamePage__gameSpace__inventory {
    display: none;
}

#gamePage__gameSpace__shop {
    display: none;
}