/*Windows! Maybe put these in a different file.*/
/*Map window. =================================*/
#gamePage__gameSpace__map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mapRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.mapCell{
    font-family: monospace;
    font-size: 15px;
    line-height: 90%;

    height: 14px;
    width: 14px;

    text-align: center;
    opacity: 0.8;

    margin: 1px;
    padding: 0px;
}

/*Encounter window. ===========================*/
#gamePage__gameSpace__encounter{
    display: none;
    grid-template-areas: "header header"
    "menu canvas";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 9fr;

    border: 1px solid green;
}
#gamePage__gameSpace__encounter>*{
    border: 1px solid blue;
}
#gamePage__gameSpace__encounter__header{
    grid-area: header;
}
#gamePage__gameSpace__encounter__canvas{
    margin: auto;
    padding: 0px;
    grid-area: canvas;

    border: 1px solid black;
}
#gamePage__gameSpace__encounter__menu{
    margin: 0px;
    grid-area: menu;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border: 1px solid red;
}
.encounterButton{
    background-color: #fff8e0;
    border: 1px solid black;

    font-family: monospace;
    font-size: 15px;
    font-weight: 400;

    width: 40%;
    aspect-ratio: 2/1;
    margin: auto;
    margin-top: 5%;
}

#gamePage__gameSpace__inventory{
    display: none;
}
#gamePage__gameSpace__shop{
    display: none;
}